table{
	width: 60%;
	border: 1px solid black;
	margin-left: 216px;
    margin-top: 90px;
    border-collapse: collapse;
}

th, td{
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
} 

td:hover{
	background-color: #ddd;
}
.caption{
	font-size: 50px;
	margin-bottom: 15px;
}